
body {
  background-color: darkgreen;
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}



.paddle{
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
}

#paddleLeft {
  left: 10px; 
  top: 150px;   
}

#paddleRight {
  left: 855px; 
  top: 150px;   
}

#ball {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  left: 435px; 
  top: 220px; 
}


/*
.score {
  position: absolute;
  font-size: large;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  transform: translateX(-50%);
}

#pointsLeft{
  top: 10px;
  left: 24.5%;
}

#pointsRight{
  top: 10px;
  left: 65.5%;
}

*/