
body {
  background-color: rgb(36, 97, 146);
}

#board { 
  width: 800px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  margin: auto
}



.paddle{
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
}

#paddleLeft {
  left: 10px; 
  top: 150px;   
}

#paddleRight {
  left: 760px; 
  top: 150px;   
}

#ball {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  left: 435px; 
  top: 220px; 
}

h1 {
  text-align: center;
color: rgb(255, 255, 255);
}

#scoreBoard {
  width: 800px;
  height: 150px;
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.score1 {
  color: rgb(0, 0, 0);
  font-size: 40px;

  position: relative;
}
.score2 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  position: relative;
}
